{% extends '_partials/base.html' %}

{% block title %}
  Edit Portfolio
{% endblock title %}

{% block content %}
  <div class="ui container">
    <h1 class="ui header">Edit Portfolio</h1>
    <form class="ui form" method="post">
      {% csrf_token %}
      <div class="field">
        <label for="{{ form.portfolio_name.id_for_label }}">Portfolio Name:</label>
        {{ form.portfolio_name }}
      </div>
      <div class="field">
        <label for="{{ form.portfolio_description.id_for_label }}">Portfolio Description:</label>
        {{ form.portfolio_description }}
      </div>
      <button class="ui button" type="submit">Update</button>
    </form>
  </div>
{% endblock %}
