{% extends '_partials/base.html' %}

{% load static %}

{% block content %}

<h1 class="ui header">My List Of Portfolios</h1>

{% if portfolios %}

    <table class="ui table"> 
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for portfolio in portfolios %}
            <tr>
                <td>{{ portfolio.portfolio_name }}</td>
                <td>{{ portfolio.portfolio_description }}</td>

                <td>
                    <a href="{% url 'portfolio-detail' id=portfolio.id %}" class="ui button">
                        <i class="eye icon"></i>
                    </a>
                    <a href="" class="ui button">
                        <i class="pencil icon"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        
        </tbody>

        <tfoot>
            <tr>
                <th>
                    Total: {{ count_all_portfolios }}
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </tfoot>
    </table>

{% else %}

<div class="ui message">
    <div class="header">
        No items yet.
    </div>
    <p>You can create your first portfiolio now. <a href={% url 'create-portfolio' %}>Add new</a></p>
</div>

{% endif %}

{% endblock content %}