{% extends '_partials/base.html' %}

{% block title %}
  Delete Portfolio
{% endblock title %}

{% block content %}
  <div class="ui container">
    <h1 class="ui header">Confirm Deletion</h1>
    <p>Are you sure you want to delete the portfolio named "{{ portfolio.portfolio_name }}"?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="ui red button">Confirm</button>
      <a href="{% url 'home' %}" class="ui button">Cancel</a>
    </form>
  </div>
{% endblock %}