{% extends '_partials/base.html' %}

{% block content %}
  <div class="ui container">
    <h1 class="ui header">Portfolio Detail</h1>
    <h3>Summary for {{ portfolio.portfolio_name }}</h3>
    
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Total Shares</th>
          <th>Total Cost</th>
          <th>Actions</th> <!-- Add this column for actions -->
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.ticker }}</td>
            <td>{{ transaction.shares }}</td>
            <td>{{ transaction.cost }}</td>
            <td>
              <a href="{% url 'edit-stock-transaction' portfolio_id=portfolio.id id=transaction.id %}" class="ui button">
                <i class="pencil icon"></i>
              </a>
              <a href="{% url 'delete-stock-transaction' portfolio_id=portfolio.id id=transaction.id %}" class="ui red button">
                <i class="trash icon"></i>
              </a>
            </td> <!-- Add this cell for actions -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}