{% extends '_partials/base.html' %}

{% block title %}
  Portfolio Detail
{% endblock title %}

{% block content %}
  <div class="ui container">
    <h1 class="ui header">Portfolio Detail</h1>

    {% include '_partials/messages.html' %}

    <h3>Summary for {{ portfolio.portfolio_name }}</h3>

    <a href="{% url 'add-stock-transaction' portfolio_id=portfolio.id %}" class="ui button">
      Add New Transaction
    </a>

    <a href="{{ transactions_url }}" class="ui button">View Transactions</a>

    <table class="ui celled table">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Total Shares</th>
          <th>Total Cost</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in summary %}
          <tr>
            <td>{{ stock.ticker }}</td>
            <td>{{ stock.total_shares }}</td>
            <td>{{ stock.total_cost }}</td>
            <td>
              <!-- Corrected the edit and delete buttons to use stock.ticker instead of transaction.id -->
              <a href="{% url 'edit-stock-transaction' portfolio_id=portfolio.id id=stock.id %}" class="ui button">
                <i class="pencil icon"></i>
              </a>
              <a href="{% url 'delete-transaction' portfolio_id=portfolio.id id=stock.id %}" class="ui red button">
                <i class="trash icon"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}