{% extends '_partials/base.html' %}

{% block title %}
  Transactions List
{% endblock title %}

{% block content %}
  <div class="ui container">
    <h1 class="ui header">Transactions List for {{ portfolio.portfolio_name }}</h1>

    {% include '_partials/messages.html' %}

    <table class="ui celled table">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Shares</th>
          <th>Cost</th>
          <th>Date</th>
          <th>SPY</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions_with_price %}
          <tr>
            <td>{{ transaction.transaction.ticker }}</td>
            <td>{{ transaction.transaction.shares }}</td>
            <td>{{ transaction.transaction.cost }}</td>
            <td>{{ transaction.transaction.date }}</td>
            <td>{{ transaction.adjusted_close_price }}</td>  <!-- Display adjusted_close_price -->
            <td>
              <a href="{% url 'edit-stock-transaction' portfolio_id=portfolio.id id=transaction.transaction.id %}" class="ui button">
                <i class="pencil icon"></i>
              </a>
              <a href="{% url 'delete-transaction' portfolio_id=portfolio.id id=transaction.transaction.id %}" class="ui red button">
                <i class="trash icon"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}